<%- include('../partials/header.ejs') %>
<div class="container-flud my-4 custom-container body-full-height">
    <div class="row">
        <div class="col-lg-3 col-0"></div>
        <div class="col-lg-6 col-12">
            <div class="form-container center-form">
                <h3 class="text-center mb-2">Giao dịch thành công</h3>
                <form class="px-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-12 col-lg-4 label-same-line" for="">Nhà mạng:</label>
                                <p class="font-weight-bold label-same-line">Mobifone</p>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã thẻ</th>
                            <th scope="col">Mệnh giá</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                          </tr>
                        </tbody>
                    </table>
                    <div class="row pb-0">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-4 label-same-line" for="">Số lượng:</label>
                                <input style="width: 50px;" type="number" class="form-control col-12 col-lg-2" value="5">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-0">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-4 label-same-line" for="">Phí giao dịch:</label>
                                <p class="col-8 label-same-line font-weight-bold">800000</p>
                            </div>
                        </div>
                    </div>  
                    <div class="seperate row mb-2 mt-1"></div>
                    <div class="row pb-0">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-3 label-same-line" for="">Tổng tiền:</label>
                                <p class="col-9 label-same-line text-success font-weight-bold">800000</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                        <button type="submit" class="btn btn-success w-50">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-0"></div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>