
<div id="error403">
    <div class="error">Forbidden</div>
    <div class="error-num">
        <h1>403</h1>
    </div>

    <h4 class="title">Không đủ quyền truy cập trang</h4> 
    <p class="desc font-weight-bold" style="color: #005;"><%= message %></p>
    <a href="/">
        <button class="btn btn-primary back-btn">Quay lại Trang chủ</button>
    </a>
</div>