<div class="container-flud my-4 custom-container">
    <div class="row">
        <div class="col-0 col-lg-3"></div>
        <div class="col">
            <div class="form-container center-form">
                <h3 class="text-center mb-2">Quên mật khẩu</h3>
                <form id="forget_pass_form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" />
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" id="alert_danger" style="display: none"></div>
                    <div class="alert alert-info" id="alert_info" style="display: none"></div>
                    <div class="loader-container">
                        <div class="d-flex justify-content-center w-100">
                            <button type="submit" class="btn btn-success w-100" id="forget_pass_btn">
                                Tiếp tục
                            </button>
                        </div>
                        <span class="loader" id="loader" style="display: none"></span>
                    </div>
                </form>

                <form id="otp_form" style="display: none">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">OTP</label>
                                <input type="text" class="form-control" placeholder="OTP" name="OTP" />
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-danger" id="alert_danger2" style="display: none"></div>
                    <div class="alert alert-info" id="alert_info2" style="display: none"></div>
                    <a id="complete_btn" style="display: none" href="/users/login"><div class="btn btn-success" id="alert_info2">Quay lại trang đăng nhập</div></a>
                    <div class="loader-container">
                        <div class="d-flex justify-content-center w-100">
                            <button type="submit" class="btn btn-success w-100" id="otp_btn">
                                Xác nhận
                            </button>
                        </div>
                        <span class="loader" id="loader2" style="display: none"></span>
                    </div>
                </form>

                <form
                    id="update_pass_otp"
                    style="display: none"
                >
                    <div class="alert alert-info text-center">
                    Vui lòng nhập mật khẩu mới 
                    </div>
                    <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            name="new_password"
                            id="new_password"
                        />
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <label for="">Xác nhận mật khẩu</label>
                        <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            name="confirm-password"
                            id="confirm_new_password"
                        />
                        </div>
                    </div>
                    </div>
                    <div
                    class="alert alert-danger"
                    role="alert"
                    id="alert_danger_3"
                    style="display: none"
                    ></div>
                    <div class="d-flex justify-content-center w-100">
                    <button type="submit" id="update_pass_form_submit" class="btn btn-success w-100">Xác nhận</button>
                    </div>
                </form>
                <div id="complete_block" style="display: none">
                    <div class="alert alert-info text-center" id="alert_info_3"></div>
                    <a id="complete_btn" style="display: block" href="/users/login"><div class="btn btn-success mb-2" id="alert_info2">Quay lại trang đăng nhập</div></a>
                </div>
            </div>
        </div>
        <div class="col-0 col-lg-3"></div>
    </div>
</div>